<div class="row">
  <div class="col-sm-12">
    <form>
      <fieldset>
        <legend>Filters</legend>
        <label for="title">Title</label>
        <input type="text" id="title" placeholder="Title of the movie" #searchTitle
        (input)="runFilter(searchTitle.value, $event)"/>
        <label for="release">Release year</label>
        <input type="number" id="release" placeholder="YYYY" #searchYear (input)="runFilter(searchYear.value, $event)"/>
      </fieldset>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <app-movie-list [movieList]="filteredList()"></app-movie-list>
  </div>
</div>
