<div class="row">
  <div class="col-sm-12">
    <form>
      <fieldset>
        <legend>Filters</legend>
        <label for="title">Title</label>
        <input type="text" id="title" placeholder="Title of the movie" #searchTitle/>
        <label for="release">Release year</label>
        <input type="number" id="release" placeholder="Year" #searchYear/>
        <button class="primary" (click)="runSearch(searchTitle.value, 1, $event)">Search</button>
      </fieldset>
    </form>
  </div>
</div>


