<button class="primary large" (click)="goBack()"> <span class="icon-home"></span> Back</button>

@if (movieDetails$ | async; as movieDetails ) {
<h1>{{movieDetails.title}}</h1>
<div class="row">
  <div class="col-sm-12 col-md-3">
    <img [ngSrc]="movieDetails.poster" [alt]="movieDetails.title" width="220" height="325" priority />
  </div>
  <div class="col-sm-12 col-md-9">
    <p><b>Summary:</b> {{movieDetails.summary}}</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="horizontal">
      <caption class="text-center">Details</caption>
      <thead>
        <tr>
          <th>Box office</th>
          <th>Budget</th>
          <th>Duration</th>
          <th>Producers</th>
          <th>Cinematographers</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Box office"> {{movieDetails.box_office | million }}</td>
          <td data-label="Budget">{{movieDetails.budget | million }}</td>
          <td data-label="Duration">{{movieDetails.duration | duration }}</td>
          <td data-label="Producers">{{movieDetails.producers }}</td>
          <td data-label="Cinematographers">{{movieDetails.cinematographers }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
}
@else {<p>Loading...</p>}
